* {
  margin: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.App {
  min-height: 100%;
  margin-top: 30px;
  padding-bottom: 60px;
}

/*========= NOTE ========= */
.notes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.note {
  background-color: #feff9c;
  height: 10rem;
  width: 10rem;
  margin: 1.4rem;
  padding: 1rem;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  color: rgb(0, 0, 0);
  transform: rotate(-6deg);
  transition: 0.3s ease-in-out all;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.note:nth-child(even) {
  position: relative;
  top: 5px;
  transform: rotate(4deg);
  background-color: #7afcff;
}
.note:nth-child(3n) {
  transform: rotate(-3deg);
  position: relative;
  top: -5px;
  background-color: #ff7eb9;
}

.note:hover {
  transform: scale(1.5);
  z-index: 5;
}

.note-text {
  flex: 1;
  text-align: center;
  font-weight: 400;
  width: 100%;
  text-align: center;
}
.note-link {
  display: none;
}

/*========= ICON ========= */
.material-symbols-outlined.cross {
  cursor: pointer;
  width: max-content;
}
.material-symbols-outlined.circle {
  position: absolute;
  bottom: 8%;
  right: 8%;
  font-size: 38px;
  cursor: pointer;
}

/*========= CREATE FORM ========= */
.create-container {
  inset: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}
.create-form {
  background-color: white;
  padding: 12px 24px;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form-text,
.form-link {
  display: flex;
  justify-content: space-between;
  gap: 0.3rem;
}
.form-btn {
  display: flex;
  justify-content: flex-end;
  gap: 0.3rem;
}
.form-close{
  display: flex;
  justify-content: flex-end;
}